// Colors

$white: #fff;
$primary: #000;
$secondry:#6C7B91;
$bg-login:#F7FAFC;
$pra:#88898A;
$border-box:#C4C4C4;
$yellow:#FED11C;
$dash-menu:#9698AB;
$table-border:#F0F2F7;
$table-head:#CACECF;
$table-text:#5E6C84;
$border-book:#DEDEDE;

 